= form_for @movie, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :nome, :class => 'control-label'
    .controls
      = f.text_field :nome, :class => 'text_field'
  .control-group
    = f.label :original, :class => 'control-label'
    .controls
      = f.text_field :original, :class => 'text_field'
  .control-group
    = f.label :mko_id, :class => 'control-label'
    .controls
      = f.text_field :mko_id, :class => 'text_field'
  .control-group
    = f.label :ano, :class => 'control-label'
    .controls
      = f.text_field :ano, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), movies_path, :class => 'btn'
