#todo
  .capas.metainfo{page: @page, tipo: params[:tipo], tipo_id: params[:id]}
    - @movies.each do |movie|
      .capa{id: movie.id, ano: movie.ano, urlized: movie.urlized}
        = capa_image_for movie
        %p= "#{movie.nome} - #{movie.ano}"
        .label{class: "#{style_for(movie)}"}

  %br

  / todo: exibir paginação?
  / %hr
  / - @page = @page + 1
  / %p.page_info= "de #{(@page-1) * 50} a #{@page*50}"

// carregar dados quando filme acessado direto por URL
- if !request.xhr? && @movies.count == 1
  - content_for :meta do
    = render file: 'movies/show', layout: false
    :javascript
      $(document).ready(function(){
        $('#menu').fadeIn(100);
        $('.capa>img').fadeIn(500);
      })
