%hr{style: 'margin-top:0px'}
%p= @movie.nome
%p= "(#{@movie.original})" if @movie.nome != @movie.original && !@movie.original.empty?

%hr
%p= link_to @movie.ano, "/ano/#{@movie.ano}"
%br
%p
  - @movie.countries.each do |c|
    = link_to c.nome, "/list/country/#{c.id}"
    %span= ", " unless c == @movie.countries.last
%br
%p
  - @movie.genres.each do |g|
    = link_to g.nome, "/list/genre/#{g.id}"
    %span= ", " unless g == @movie.genres.last
%br
%p
  - @movie.directors.each do |d|
    = link_to d.nome, "/list/director/#{d.id}"
    %span= ", " unless d == @movie.directors.last
%hr

- if @movie.magnet_link
  #magnet{style: 'padding: 4px'}
    %div
      [
      %a{href: @movie.magnet_link}
        = image_tag "magnet.gif"
        %span{class: "#{style_for(@movie)}"}= "Download #{movie_size(@movie)}"
      |
      %a{href: mko_link(@movie), target: '_blank', title: "Abrir no Fórum"}
        = image_tag "favicon.ico"
      ]
  #peers.small
    %p{style:'display: inline-block'}= "#{@movie.count} peers #{aprox_hours_ago(@movie.updated_at)}"
- else
  %p [ Opz, sem link ]
