%p= @movie.nome
%p.small= "(#{@movie.original})" if @movie.nome != @movie.original && !@movie.original.empty?

%p.small= @movie.ano
%br
%p= @movie.genres.map{|g| g.nome}.join(', ')
%p= @movie.directors.map{|g| g.nome}.join(', ')

%br
- if @movie.magnet_link
  #magnet{style: 'padding: 8px'}
    %p
      [
      %a{href: @movie.magnet_link}
        = image_tag "magnet.gif"
        Download
      ]
  #peers
    %p.small{class: "#{style_for(@movie)}", style:'display: inline-block'}= "#{@movie.count} peers"
    %p.small= aprox_hours_ago(@movie.updated_at)
- else
  %p [ Opz, sem link ]


