!!!
%html
  %head
    %title Acervo ❤ MakingOff
    %meta{charset: 'utf-8'}
    = stylesheet_link_tag "app", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Gudea"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.ico'
    %meta{name: "description", content: "Tome; mais de 13 mil filmes raros, antigos, alternativos, fora do circuito comercial e documentários relevantes de diversas nacionalidades desde a invenção do Cinema.."}
    = csrf_meta_tags

    %body
      = render 'movies/menu'
      #meio= yield
      = yield :fora
